<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.muml.uppaal.platform.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2022-09"/>
			<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.13.0.v20220519-1115"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.1300.v20220831-1800"/>
			<unit id="org.eclipse.pde.feature.group" version="3.14.1300.v20220831-1800"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/modeling/emf/emf/builds/release/2.31"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.31.0.v20220817-1401"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.13.0/"/>
			<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.7.0.v20220519-1115"/>
		</location>
	</locations>
	<environment>
		<os>linux</os>
		<ws>gtk</ws>
		<arch>x86_64</arch>
	</environment>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>